# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/
env/

# Sensitive configuration files
.env

# Docker data volumes
postgres_data/

# OS specific files
.DS_Store
Thumbs.db
